<mat-toolbar color='primary'>
    <span>{{ data.id ? "Edit" : "Add"}} {{title}}</span>
    <span fxFlex=""></span>
    <button mat-icon-button="" mat-dialog-close matTooltip="close">
        <mat-icon class="c-w">close</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="form" (submit)="submit()"  fxLayout="row wrap" class="form-padding">
    <% for(let field of model.fields) { %>
    <mat-form-field fxFlex="<%= field.flex ? field.flex : '50' %>">
        <%= renderField(field) %> <%= renderValidatorError(field) %>
    </mat-form-field>
    <% } %>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="10px">
        <button [disabled]="form.invalid" mat-raised-button="" color="primary">
            {{ data.id ? "Update" : "Add"}}
        </button>
    </div>
</form>
