<mat-toolbar color='primary'>
    <span>{{ data.id ? "Edit" : "Add"}} {{title}}</span>
    <span fxFlex=""></span>
    <button mat-icon-button="" mat-dialog-close matTooltip="close">
        <mat-icon class="c-w">close</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="form" (submit)="submit()"  fxLayout="row wrap" class="form-padding w-500">
    
    <mat-form-field fxFlex="50">
        <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    
    <mat-form-field fxFlex="50">
        <input matInput type="number" placeholder="Age" formControlName="age">
    </mat-form-field>
    
    <mat-form-field fxFlex="50">
        <input matInput type="text" placeholder="Branch" formControlName="branch">
    </mat-form-field>
    
    <mat-form-field fxFlex="50">
        <input matInput [matDatepicker]="pickerexpired_at" placeholder="Expired At" formControlName="expired_at">
        <mat-datepicker-toggle matSuffix [for]="pickerexpired_at"></mat-datepicker-toggle>
        <mat-datepicker #pickerexpired_at></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field fxFlex="50">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option value="1">Active</mat-option>
			<mat-option value="2">Suspended</mat-option>
			<mat-option value="3">Out of town</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field fxFlex="50">
        <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
    </mat-form-field>
    
    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="10px">
        <button [disabled]="form.invalid" mat-raised-button="" color="primary">
            {{ data.id ? "Update" : "Add"}}
        </button>
    </div>
</form>